/.idea
/build
/gradle
/.gradle
/.idea
/local.properties
/libraries/ui/build
/benchmark_test/build
/libraries/ui/.gitignore
/libraries/database/build
/libraries/database/.gitignore
/libraries/ui/consumer-rules.pro
/libraries/ui/proguard-rules.pro
/app/polished-scope-447522-p4-3ca9088034e9.json