/.idea
/build
/gradle
/.gradle
/local.properties
/libraries/ui/build
/benchmark_test/build
/libraries/ui/.gitignore
/libraries/database/build
/libraries/database/.gitignore
/libraries/ui/consumer-rules.pro
/libraries/ui/proguard-rules.pro